.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  img {
    width: 100%;
    border-radius: $radio-borde;
    box-shadow: $sombra-caja;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
