$color-primario: #230ca6;
$color-secundario: #4423d7;
$color-acento: #ffe4ec;
$color-texto: #333;
$color-fondo: #fffafc;
$color-blanco: #fff;

$fuente-principal: 'Open Sans', sans-serif;

$radio-borde: 10px;
$sombra-caja: 0 4px 12px rgba(0, 0, 0, 0.1);

$break-tablet: 768px;
